.lfr-layout-structure-item-container {padding: 0;}.lfr-layout-structure-item-row {overflow: hidden;}.lfr-layout-structure-item-205200e9-6410-e9d0-a83c-8270c8bc2406 {
overflow: visible !important;
}
.lfr-layout-structure-item-b8d9ff34-7f81-16c4-c626-c38771e8038e {
overflow: visible !important;
}
